<meta charset="UTF-8">
<meta name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=10.0, minimum-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>nodejs-template-alpinejs</title>
<meta name="description" content="Test stand Node.js + EJS + Alpine.js">
<meta name="keywords" content="Node.js, EJS, Alpine.js">
<meta name="author" content="Orlov Dmitry">
<script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>