<div style="font-weight: bold;">Pages:</div>
<ul>
    <li><a href="/?<%= writeParams(params, ['page', 'components']) %>" style="<%= route === '/'?'font-weight: bold':'' %>">Home</a></li>
    <li><a href="/about?<%= writeParams(params, ['page', 'components']) %>" style="<%= route === '/about'?'font-weight: bold':'' %>">About</a></li>
    <li><a href="/clear-cache">Clear cache</a></li>
</ul>