Params:
<ul>
    <li>cache=0 - Disable cache, default: 1</li>
    <li>timeout=100 - Timeout for simulate DB, default: 0</li>
</ul>
<a href="/api">
    JSON Products with cache
</a>
<br>
<a href="/">
    HTML Products with cache
</a>
<br>
<ul>
    <% products.forEach(function(product){ %>
        <li style="margin-bottom: 10px;">
            <div style="display: flex; justify-content: flex-start; align-items: flex-start; flex-wrap: wrap">
                <img src="<%= product.image %>" alt="<%= product.name %>" width="60" height="40">
                <div style="margin-left: 10px;">
                    <div style="font-weight: bold"><%= product.name %></div>
                    <div><%= product.description %></div>
                </div>
            </div>
        </li>
    <% }); %>
</ul>